In [3]:
import pandas as pd
import numpy as np

In [4]:
#Reading the business csv
business_dataFrame = pd.read_csv("/Users/saranggrover/Desktop/yelp-dataset/business.csv")
business_dataFrame.shape

(158525, 14)

In [5]:
#Few businesses have no categories and attributes. Dropping those businesses
business_dataFrame = business_dataFrame.dropna(axis=0, subset=['categories','attributes'])
business_dataFrame.shape

(132752, 14)

In [6]:
#The business file contains all kinds of different businesses. We are focused on a restaurant recommender system. 
#So filtering out the required categories

relevantCategories = ['Food','Restaurants']
testPattern = "|".join(relevantCategories)
restaurant_dataFrame = business_dataFrame[business_dataFrame['categories'].str.contains(testPattern)]
restaurant_dataFrame.shape

(52012, 14)

In [7]:
restaurant_dataFrame.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
1,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
9,2450 E Indian School Rd,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,"{'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...",1,33.495194,-112.028588,Taco Bell,85016,18,3.0,AZ
11,5981 Andrews Rd,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...",fweCYi8FmbJXHCqLnwuk8w,"Italian, Restaurants, Pizza, Chicken Wings",Mentor-on-the-Lake,"{'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', ...",1,41.708520,-81.359556,Marco's Pizza,44060,16,4.0,OH
12,4145 Erie St,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",-K4gAv8_vjx8-2BxkVeRkA,"Bakeries, Food",Willoughby,"{'Tuesday': '11:0-17:0', 'Wednesday': '11:0-17...",1,41.639860,-81.406396,Baby Cakes,44094,7,3.0,OH

In [8]:
#Dropping unnecessary columms from restaurants dataframe
restaurant_dataFrame.drop(columns=[ 'is_open','address', 'hours',
                                'review_count','latitude', 'longitude'], inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [17]:
restaurant_dataFrame.head()

,attributes,business_id,categories,city,name,postal_code,stars,state
0,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,Emerald Chinese Restaurant,L5R 3E7,2.5,ON
1,"{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,Musashi Japanese Restaurant,28210,4.0,NC
9,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,Taco Bell,85016,3.0,AZ
11,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...",fweCYi8FmbJXHCqLnwuk8w,"Italian, Restaurants, Pizza, Chicken Wings",Mentor-on-the-Lake,Marco's Pizza,44060,4.0,OH
12,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",-K4gAv8_vjx8-2BxkVeRkA,"Bakeries, Food",Willoughby,Baby Cakes,44094,3.0,OH

In [11]:
#Reading the users file
user_dataFrame = pd.read_csv("/Users/saranggrover/Desktop/yelp-dataset/users.csv")
user_dataFrame.shape

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1637138, 22)

In [12]:
user_dataFrame.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,4.03,1,0,1,2,0,0,1,0,1,...,25,"2015,2016,2017",5,"c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g...",17,Rashmi,95,84,l6BmjZMeQD3rDxWUbiAiow,2013-10-08 23:11:33
1,3.63,1,0,1,1,0,0,0,0,0,...,16,NaN,4,"kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGTPg...",22,Jenna,33,48,4XChL029mKr5hydo79Ljxg,2013-02-21 22:29:06
2,3.71,0,0,0,0,0,0,1,0,0,...,10,NaN,0,"4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzMng...",8,David,16,28,bc8C_eETBWL0olvFSJJd0w,2013-10-04 00:16:10
3,4.85,0,0,0,1,0,0,0,0,2,...,14,NaN,5,"RZ6wS38wnlXyj-OOdTzBxA, l5jxZh1KsgI8rMunm-GN6A...",4,Angela,17,30,dD0gZpBctWGdWo9WlGuhlA,2014-05-22 15:57:30
4,4.08,80,0,80,28,1,1,16,5,57,...,665,"2015,2016,2017,2018",39,"mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6DeQ...",279,Nancy,361,1114,MM4RJAeH6yuaN8oZDSt0RA,2013-10-23 07:02:50

In [13]:
#Removing unnecessary columms from users dataframe
user_dataFrame.drop(columns=['name','friends','compliment_cool', 'compliment_cute',
                      'compliment_funny', 'compliment_hot', 'compliment_list',
                      'compliment_more', 'compliment_note', 'compliment_photos',
                     'compliment_plain', 'compliment_profile', 'compliment_writer', 'cool',
                     'funny','review_count', 'useful'], inplace=True)

In [14]:
def count_elite_years(row):
    if not pd.isnull(row):
        if ',' in str(row):
            return len(row.split(","))
        else:
            return 1  
    else:
        return 0

In [15]:
user_dataFrame['elite'] = user_dataFrame['elite'].map(count_elite_years)

In [36]:
user_dataFrame.head(10)

   average_stars  elite  fans                 user_id        yelping_since
0           4.03      3     5  l6BmjZMeQD3rDxWUbiAiow  2013-10-08 23:11:33
1           3.63      0     4  4XChL029mKr5hydo79Ljxg  2013-02-21 22:29:06
2           3.71      0     0  bc8C_eETBWL0olvFSJJd0w  2013-10-04 00:16:10
3           4.85      0     5  dD0gZpBctWGdWo9WlGuhlA  2014-05-22 15:57:30
4           4.08      4    39  MM4RJAeH6yuaN8oZDSt0RA  2013-10-23 07:02:50
5           4.20      4   186  0rK89TS8xqy1wI4nYI1wfw  2011-06-23 08:05:13
6           4.39      8   696  TEtzbpgA2BFBrC0y0sCbfw  2006-02-15 18:29:35
7           4.33      0     0  KGuqerdeNhxzXZEyBaqqSw  2014-06-07 01:50:09
8           4.21      7    57  T0gWkTHWRChVUe_Dn1F8nw  2005-07-20 22:38:17
9           4.53      0    15  NQffx45eJaeqhFcMadKUQA  2008-12-10 22:59:45

In [18]:
#Reading the reviews file
reviews_dataFrame = pd.read_csv("/Users/saranggrover/Desktop/yelp-dataset/reviews.csv")

In [19]:
reviews_dataFrame.shape

(6685902, 9)

In [20]:
#Removing unnecessary columns and null values
reviews_dataFrame.drop(columns=["cool", "funny", "useful"], inplace=True)

In [21]:
reviews_dataFrame.dropna(axis=0, inplace=True)
reviews_dataFrame.isnull().values.any()

False

In [22]:
reviews_dataFrame.shape

(6685896, 6)

In [31]:
#Getting the restaurant ids from the restaurant dataframe and filtering the reviews data frame to contain reviews
#only for those restaurants
unique_restaurant_ids = restaurant_dataFrame['business_id'].values
restaurant_reviews_dataFrame = reviews_dataFrame[reviews_dataFrame['business_id'].isin(unique_restaurant_ids)]
restaurant_reviews_dataFrame.shape

(3875007, 6)

In [32]:
#Checking if same user have multiple reviews for same restaurant
np.any(restaurant_reviews_dataFrame.duplicated(subset=['user_id', 'business_id'], keep=False))

True

In [33]:
#Keep the latest reviews for same user and restaurant
restaurant_reviews_dataFrame = restaurant_reviews_dataFrame.sort_values('date').drop_duplicates(subset=['user_id', 'business_id'], keep='last')
restaurant_reviews_dataFrame.shape

(3750809, 6)

In [34]:
#Filtering out users who have reviews less than 10
restaurant_reviews_dataFrame= restaurant_reviews_dataFrame[restaurant_reviews_dataFrame.groupby("user_id")["user_id"].transform('count').ge(10)]
restaurant_reviews_dataFrame.shape

(1682153, 6)

In [39]:
restaurant_reviews_dataFrame.head(10)

,business_id,date,review_id,stars,text,user_id
5345274,u8C8pRvaHXg3PgDrsUHJHQ,2004-10-19 19:24:13,0QHCY_55TFHHvyumEMpDew,4.0,Good stuff. Pricey by normal pizza standards.,nkN_do3fJ9xekchVC-v68A
6021460,EZOoB2D8uQHV_gJoGCMTxQ,2004-10-19 21:33:08,1Iobyi_7BkFON25Oegs0aw,4.0,Love their subs. Cheap and top shelf ingredients.,nkN_do3fJ9xekchVC-v68A
4665742,oYMsq2Xvzw6UbrIlMWjb-A,2004-10-19 21:34:40,2F5J51OYtD49eyIUKJKVgg,4.0,Love their pizza. They used to have a great ta...,nkN_do3fJ9xekchVC-v68A
3995487,ydUqgWsF3F27TbauOyib0w,2004-12-19 20:47:24,Ef1skKLKZ9izwBmreb_-qw,4.0,"Frequently busy due to their great food, but t...",62GNFh5FySkA3MbrQmnqvg
6022580,VMPSdoBgJuyS9t_x_caTig,2005-03-03 19:49:39,39ukJIrbqD1Pk5V16B5weA,5.0,Easily my favorite place to eat in Madison. G...,HLaSqQMDVvlcFPGJL_kGCA
1334196,GjkgXXicSJokejRge-g3xA,2005-03-03 19:55:42,t7BnB7AmrEdLsepxrAeCog,5.0,If the all the bars in Madison got together an...,HLaSqQMDVvlcFPGJL_kGCA
646913,xnY3_Tg5PjE_8n_bhwZu1Q,2005-03-03 20:46:21,A7zuhSlkOkTs1G6_hDniPg,4.0,Omelettes that have killed lesser men than me....,HLaSqQMDVvlcFPGJL_kGCA
5347975,C37hwsGUHn_3-il0ypeY-Q,2005-03-03 20:50:37,mglmQCiUpAVVYHbO62d87g,3.0,Nice little dive bar at the end of Willy St. ...,HLaSqQMDVvlcFPGJL_kGCA
5352982,LZ_R2OLgZQSQMMzlp8uUOA,2005-03-04 15:37:00,YADzRq2fuu7Krlj6SfSFxA,4.0,Ideal lunch at Dotty's in downtown Madison: Sp...,HLaSqQMDVvlcFPGJL_kGCA
2011406,Z8SXv1u_6rKicQy9P7G6fw,2005-03-10 02:27:50,PhCDcT0pCHyExCObNMXxSg,5.0,it is awesome. they make a pork burrito that ...,cT0xyr130ZUpEcj8L7Hjxw

In [37]:
user_dataFrame.shape

(1637138, 5)

In [38]:
#Filtering out the users dataframe to contain only those users which have given reviews
unique_user_ids = restaurant_reviews_dataFrame['user_id'].unique()
user_dataFrame = user_dataFrame[user_dataFrame['user_id'].isin(unique_user_ids)]
user_dataFrame.shape

(64351, 5)

In [40]:
#Renaming the stars columm in restaurant dataframe before mergin with reviews dataframe
restaurant_dataFrame.rename(columns={'stars': 'restaurant_rating'}, inplace=True)
restaurant_dataFrame.head()

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,attributes,business_id,categories,city,name,postal_code,restaurant_rating,state
0,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,Emerald Chinese Restaurant,L5R 3E7,2.5,ON
1,"{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,Musashi Japanese Restaurant,28210,4.0,NC
9,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,Taco Bell,85016,3.0,AZ
11,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...",fweCYi8FmbJXHCqLnwuk8w,"Italian, Restaurants, Pizza, Chicken Wings",Mentor-on-the-Lake,Marco's Pizza,44060,4.0,OH
12,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",-K4gAv8_vjx8-2BxkVeRkA,"Bakeries, Food",Willoughby,Baby Cakes,44094,3.0,OH

In [44]:
#MErging the restaurant and review dataframes by business ids
restaurant_reviews_merged_dataFrame = restaurant_reviews_dataFrame.merge(restaurant_dataFrame[['attributes','business_id','categories', 'city' ,'name', 'restaurant_rating']], how = 'inner', on = 'business_id')
restaurant_reviews_merged_dataFrame.shape

(1682153, 11)

In [45]:
restaurant_reviews_merged_dataFrame.isnull().values.any()

False

In [48]:
#Merging the dataframe with user dataframe
final_dataFrame = restaurant_reviews_merged_dataFrame.merge(user_dataFrame[['user_id', 'average_stars']],how = 'inner', on = 'user_id')
final_dataFrame.shape

(1682153, 12)

In [ ]:
#Creating the final merged csv
final_dataFrame.to_csv("/Users/saranggrover/Desktop/yelp-dataset/final_merged_data.csv", index=False)