In [1]:
import pandas as pd
import numpy as np

In [22]:
#Reading the business csv
business_dataFrame = pd.read_csv("/Users/saranggrover/Desktop/yelp-dataset/business.csv")
business_dataFrame.shape

(158525, 14)

In [23]:
#Few businesses have no categories and attributes. Dropping those businesses
business_dataFrame = business_dataFrame.dropna(axis=0, subset=['categories','attributes'])
business_dataFrame.shape

(132752, 14)

In [39]:
#The business file contains all kinds of different businesses. We are focused on a restaurant recommender system. 
#So filtering out the required categories

relevantCategories = ['Food','Restaurants']
testPattern = "|".join(relevantCategories)
restaurant_dataFrame = business_dataFrame[business_dataFrame['categories'].str.contains(testPattern)]
restaurant_dataFrame.shape

(52012, 14)

In [45]:
restaurant_dataFrame.head()

,attributes,business_id,categories,city,name,postal_code,stars,state
0,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,Emerald Chinese Restaurant,L5R 3E7,2.5,ON
1,"{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,Musashi Japanese Restaurant,28210,4.0,NC
9,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,Taco Bell,85016,3.0,AZ
11,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...",fweCYi8FmbJXHCqLnwuk8w,"Italian, Restaurants, Pizza, Chicken Wings",Mentor-on-the-Lake,Marco's Pizza,44060,4.0,OH
12,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",-K4gAv8_vjx8-2BxkVeRkA,"Bakeries, Food",Willoughby,Baby Cakes,44094,3.0,OH

In [41]:
#Dropping unnecessary columms from restaurants dataframe
restaurant_dataFrame.drop(columns=[ 'is_open','address', 'hours',
                                'review_count','latitude', 'longitude'], inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [71]:
#Reading the users file
user_dataFrame = pd.read_csv("/Users/saranggrover/Desktop/yelp-dataset/users.csv")
user_dataFrame.shape

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1637138, 22)

In [72]:
user_dataFrame.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,4.03,1,0,1,2,0,0,1,0,1,...,25,"2015,2016,2017",5,"c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g...",17,Rashmi,95,84,l6BmjZMeQD3rDxWUbiAiow,2013-10-08 23:11:33
1,3.63,1,0,1,1,0,0,0,0,0,...,16,NaN,4,"kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGTPg...",22,Jenna,33,48,4XChL029mKr5hydo79Ljxg,2013-02-21 22:29:06
2,3.71,0,0,0,0,0,0,1,0,0,...,10,NaN,0,"4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzMng...",8,David,16,28,bc8C_eETBWL0olvFSJJd0w,2013-10-04 00:16:10
3,4.85,0,0,0,1,0,0,0,0,2,...,14,NaN,5,"RZ6wS38wnlXyj-OOdTzBxA, l5jxZh1KsgI8rMunm-GN6A...",4,Angela,17,30,dD0gZpBctWGdWo9WlGuhlA,2014-05-22 15:57:30
4,4.08,80,0,80,28,1,1,16,5,57,...,665,"2015,2016,2017,2018",39,"mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6DeQ...",279,Nancy,361,1114,MM4RJAeH6yuaN8oZDSt0RA,2013-10-23 07:02:50

In [73]:
#Removing unnecessary columms from users dataframe
user_dataFrame.drop(columns=['name','friends','compliment_cool', 'compliment_cute',
                      'compliment_funny', 'compliment_hot', 'compliment_list',
                      'compliment_more', 'compliment_note', 'compliment_photos',
                     'compliment_plain', 'compliment_profile', 'compliment_writer', 'cool',
                     'funny','review_count', 'useful'], inplace=True)

In [74]:
def count_elite_years(row):
    if not pd.isnull(row):
        if ',' in str(row):
            return len(row.split(","))
        else:
            return 1  
    else:
        return 0

In [75]:
user_dataFrame['elite'] = user_dataFrame['elite'].map(count_elite_years)

In [76]:
user_dataFrame.head(10)

   average_stars  elite  fans                 user_id        yelping_since
0           4.03      3     5  l6BmjZMeQD3rDxWUbiAiow  2013-10-08 23:11:33
1           3.63      0     4  4XChL029mKr5hydo79Ljxg  2013-02-21 22:29:06
2           3.71      0     0  bc8C_eETBWL0olvFSJJd0w  2013-10-04 00:16:10
3           4.85      0     5  dD0gZpBctWGdWo9WlGuhlA  2014-05-22 15:57:30
4           4.08      4    39  MM4RJAeH6yuaN8oZDSt0RA  2013-10-23 07:02:50
5           4.20      4   186  0rK89TS8xqy1wI4nYI1wfw  2011-06-23 08:05:13
6           4.39      8   696  TEtzbpgA2BFBrC0y0sCbfw  2006-02-15 18:29:35
7           4.33      0     0  KGuqerdeNhxzXZEyBaqqSw  2014-06-07 01:50:09
8           4.21      7    57  T0gWkTHWRChVUe_Dn1F8nw  2005-07-20 22:38:17
9           4.53      0    15  NQffx45eJaeqhFcMadKUQA  2008-12-10 22:59:45

In [ ]:
#Reading the reviews file
reviews_dataFrame = pd.read_csv("/Users/saranggrover/Desktop/yelp-dataset/reviews.csv")

In [ ]:
reviews_dataFrame.shape

In [ ]:
#Removing unnecessary columns and null values
reviews_dataFrame.drop(columns=["cool", "funny", "useful"], inplace=True)

In [86]:
reviews_dataFrame.dropna(axis=0, inplace=True)
reviews_dataFrame.isnull().values.any()

False

In [88]:
reviews_dataFrame.shape

(6685896, 6)

In [ ]:
#Getting the restaurant ids from the restaurant dataframe and filtering the reviews data frame to contain reviews
#only for those restaurants
unique_restaurant_ids = restaurant_dataFrame['business_id'].values
restaurant_reviews_dataFrame = reviews_dataFrame[reviews_dataFrame['business_id'].isin(unique_restaurant_ids)]
restaurant_reviews_dataFrame.shape

In [ ]:
#Checking if same user have multiple reviews for same restaurant